/* Site Setup Wizard Admin CSS */

/* Options Page */

.ssw-add-new-input {
  display: inline;
}

.ssw-add-new-btn {
  vertical-align: middle;
}

.ssw-remove-btn {
  vertical-align: middle;
}

.ssw-import-settings-button {
  display: inline;
}
/* ENDS Options Page */

/* Media CSS for Options Page */

@media (min-width: 10px) and (max-width:479px) {
  
}

@media (min-width: 480px) {

}

@media (min-width: 480px) and (max-width: 767px) {

}

@media (min-width: 768px) {
  .ssw-select {
    min-width: 25em;
  }
  
  .ssw-add-new-text {
    min-width: 20em;
  }

}

@media (max-width: 782px) {
  .ssw-select {
    width: 90% !important;
    display: inline-block !important;
  }
  .ssw-add-new-text {
    width: 90% !important;
    display: inline-block !important;
  }
  .ssw-add-new-input {
    
  }

  select[multiple] {
    height: auto !important;
  }
}

/* ENDS Media CSS for Options Page */

/* Analytics Page */
body {
  background-color: #F1F1F1;
  font-family: "Open Sans",sans-serif;
}

#site-type-info {
  max-height: 500px;
}

.top-buffer {
  margin-top: 20px;
}

#ssw-a-total-sites {
  
}
/* ENDS Analytics Page */
